In [2]:
#Importamos la libreria a ocupar
import pandas as pd

In [3]:
#Ruta de origen del dataset
ruta = r"C:\Users\Elias\Documents\Primer Proyecto Individual\Datasets limpios\games_clean"
#Cargamos el dataset a trabajar
df_games_clean = pd.read_csv(ruta)
df_games = df_games_clean
df_games.head()

,id,app_name,genres,developer,tags,release_date,price,cleaned_price
0,761140.0,Lost Summoner Kitty,Action,Kotoshiro,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",2018-01-04,4.99,4.99
1,643980.0,Ironbound,Indie,Secret Level SRL,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...",2018-01-04,Free To Play,0.00
2,670290.0,Real Pool 3D - Poolians,Casual,Poolians.com,"['Free to Play', 'Simulation', 'Sports', 'Casu...",2017-07-24,Free to Play,0.00
3,767400.0,弹炸人2222,Action,彼岸领域,"['Action', 'Adventure', 'Casual']",2017-12-07,0.99,0.99
4,773570.0,Log Challenge,Action,NaN,"['Action', 'Indie', 'Casual', 'Sports']",NaN,2.99,2.99

In [4]:
genres_dummies = (
    df_games['genres'].explode()
    .str.get_dummies()
    .groupby(level=0)
    .sum()
    .reset_index(drop=True)
)

generos_totales = pd.concat([df_games[['id']], genres_dummies], axis=1)


keep_cols = generos_totales.columns[~generos_totales.columns.str.contains('&amp;', case=False)]

generos_totales= generos_totales[keep_cols]

generos_totales.columns = pd.unique(generos_totales.columns)

generos_totales

,id,360 Video,Accounting,Action,Adventure,Animation & Modeling,Anime,Arcade,Audio Production,Beat 'em up,...,Tutorial,Twin Stick Shooter,Utilities,VR,Video Production,Violent,War,Web Publishing,World War II,Zombies
0,761140.0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,643980.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,670290.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,767400.0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,773570.0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32130,773640.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32131,733530.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32132,610660.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32133,658870.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32134,681550.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
#Creamos un nuevo dataset en formato parquet
generos_totales.to_parquet(r"C:\Users\Elias\Documents\Primer Proyecto Individual\Datasets limpios\games_clean_dummies",index= False)